.container {
  background-color: lightslategrey;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

.slider {
  border: 2px solid white;
  border-radius: 5px;
  width: 264px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.slider__item {}

p {
  margin: 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
  color: white;
}

img {
  width: 264px;
}

.control {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  position: absolute;
}

.control:hover {
  background-color:lawngreen;
}

.control.left {
  top: 45%;
  left: calc(40% - 264px/2);
}

.control.right {
  top: 45%;
  right: calc(40% - 264px/2);
}